@layer reset, base, components;

@import url('normalize.css') layer(reset);
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap') layer(base);

@layer reset {
    :root {
        --primary: #07755D;
        --secondary: #59bc1c;
        --denied: #ff8686;
        --text: #515959;
        --border: #59de0c;
    }

    .main {
        display: flow-root;
    }
}

@layer base {
    html {
        font-family: 'Inter', sans-serif;
        color: var(--text);
    }

    .card {
        max-width: 21em;
        margin: 1rem;
        /* without scaling */
        padding: 1em;
        /* border: 2px solid var(--border); */
    }

    .card--marketer .header__title {
        font-size: 2.4rem;
        font-weight: 700;
        color: var(--secondary);
        margin-bottom: 1rem;
    }

    .card--marketer .bold__primary {
        font-weight: 700;
        color: var(--primary);
    }

    .card--marketer p.small {
        font-size: 0.9rem;
        line-height: 1.8rem;
    }

    .card--marketer .big_money__primary {
        font-size: 1.8rem;
        font-weight: 700;
        color: var(--primary);
    }

    .card--marketer .small_bold__primary {
        font-size: 0.9rem;
        font-weight: 700;
        color: var(--primary);
        text-decoration: underline;
    }

    .card--marketer .button__primary {
        display: block;
        background-color: var(--primary);
        border-radius: 6px;
        /* width: 80%; */
        padding: 0.8rem;
        text-align: center;
        text-decoration: none;
        color: white;
        font-weight: 700;
        margin-left: 0;
        margin-bottom: 1rem;

    }

    .card--marketer ul {
        padding-left: 1.5rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .card--marketer li {
        margin-bottom: 0.8rem;
        padding-left: 0.5rem;

    }

    .card--marketer .check {
        list-style-image: url('../images/check.svg');
    }

    .card--marketer .cross {
        list-style-image: url('../images/cross.svg');
    }

    .card--marketer {
        border: 1px solid rgb(233, 228, 228);
        border-radius: 1rem;
    }


}

@layer components {
    /* todo components */

}